app==0.0.1
bitarray==2.6.2
click==8.1.3
colorama==0.4.6
Flask==2.2.2
gunicorn==20.1.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.2
MyApplication==0.1.0
nanodb==0.4.3
nanodb-driver==0.0.3
output==1.0.1
pdfreader==0.1.12
pdfrw==0.4
Pillow==9.4.0
pycryptodome==3.17
PyPDF2==3.0.1
python-dateutil==2.8.2
PyYAML==3.11
pyzmq==25.0.0
reportlab==3.6.12
six==1.16.0
Werkzeug==2.2.2
