<!-- Author: Daiki Nomura-->
<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="og:title" content="出席停止報告書ジェネレータ">
    <meta name="og:type" content="website">
    <meta name="og:site_name" content="出席停止報告書ジェネレータ">
    <meta name="og:description" content="二松学舎柏高校でCOVID-19により出席停止した生徒の報告用紙を生成します">
    <meta name="description" content="出席停止報告書ジェネレータ">
    <meta name="keywords" content="出席停止報告書ジェネレータ">
    <meta name="twitter:card" content="summary">
    <link rel="icon" href="{{url_for('static', filename='assets/icon.png')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap" rel="stylesheet">
    <title>出席停止報告書ジェネレータ</title>
</head>

<body>
    <div id="title">
        <h1>出席停止報告書ジェネレータ</h1>
        <p>二松学舎柏高校でCOVID-19により出席停止した生徒の報告用紙を生成します<br>
            生成したPDFを印刷し，印鑑を押して担任へ提出してください<br>
            (入力したデータは，安全にサーバに送信され，データの生成後直ちに破棄されます．)</p>
    </div>
    <div class="container">
        <form action='/report' method="post" class="row g-3 needs-validation" id="input-form" novalidate>
            <div class="col-md-4">
                <label for="belong">1.学年・クラス・番号を入力してください</label>
                <div class="input-group" id="belong">
                    <input type="number" class="form-control" placeholder="1" name="grade" aria-label="User Grade"
                        required>
                    <span class="input-group-text">年</span>
                    <input type="number" class="form-control" placeholder="1" name="class" aria-label="User Class"
                        required>
                    <span class="input-group-text">組</span>
                    <input type="number" class="form-control" placeholder="1" name="number" aria-label="User Number"
                        required>
                    <span class="input-group-text">番</span>
                </div>
            </div>
            <div class="col-md-4">
                <label for="st-name">2.生徒氏名を入力してください</label>
                <input type="text" class="form-control" name="st-name" id="st-name" placeholder="三島　中洲" required>
            </div>
            <div class="col-md-4">
                <label for="pr-name">3.保護者氏名を入力してください</label>
                <input type="text" class="form-control" name="pr-name" id="pr-name" placeholder="三島　中洲" required>
            </div>
            <div class="col-md-6">
                <label for="str-date">4.初めて休んだ日を選択してください</label>
                <input type="date" class="form-control" name="str-date" id="str-date" required>
            </div>
            <div class="col-md-6">
                <label for="ed-date">5.最後に休んだ日を選択してください</label>
                <input type="date" class="form-control" name="ed-date" id="ed-date" required>
            </div>
            <div class="col-md-12">
                <label for="sel-reason">6.休んだ理由を選択してください</label>
                <select class="form-select" name="sel-reason" id="sel-reason" aria-label="Select Reason">
                    <option selected>選択してください</option>
                    <option value="myself">本人が感染した</option>
                    <option value="medical-care">医療的ケアを必要とし，重症化リスクが高いと主治医が判断した</option>
                    <option value="primary-illness">基礎疾患により重症化リスクが高いと主治医が判断した</option>
                    <option value="family">同居家族に高齢者や基礎疾患がある者がいる(事前に校長の許可を受けている)</option>
                    <option value="vaccine">ワクチン接種を受けた</option>
                </select>
            </div>
            <div class="col-md-12" id="if-myself-onset">
                <label for="hospital-name">7.(6で「本人に症状がある」を選択した場合) 受診した医療機関名を入力してください</label>
                <input type="text" class="form-control" name="hospital-name" id="hospital-name" placeholder="二松學舍大学病院"
                    disabled required>
                <label for="os-date">8.(6で「本人に症状がある」を選択した場合) 発症日を入力してください</label>
                <input type="date" class="form-control" name="os-date" id="os-date" disabled required>
            </div>
            <button type="submit" class="btn btn-primary" id="submit">送信</button>
        </form>
    </div>
    <script nonce="371c39bd8dc29b14542d774a83cc5781f59fd261b492e4cedf841198696d4d7b"
        src="{{url_for('static', filename='assets/script.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

<footer>
    <p>Copyright © 2023 Daiki Nomura</p>
    <p>Powered by <a href="https://nishogakusha-kashiwa.ed.jp" target="_new" rel="noopener noreferrer">Nishogakusha
            Kashiwa High School</a></p>
</footer>

</html>