html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: tbudgothic-std, sans-serif;
  background-color: #f5f5f5;
}

#title{
  font-size: 3em;
  text-align: center;
  font-family: iroha-26tubaki-stdn, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  padding: 5% 0 10% 0;
}

#title>p{
  font-family: tbudgothic-std, sans-serif;
  font-size: 0.4em;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-check-label {
  display: flex;
  align-items: center;
}

footer {
  margin-top: auto;
  padding: 1rem;
  background-color: #f7f7f7;
  text-align: center;
}

/* for Smartphone */
@media screen and (max-width: 767px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 767px) {
  #title {
    font-size: 2em;
  }
}
@media screen and (max-width: 767px) {
  #title>p {
    font-size: 0.3em;
  }
}